<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>thangdh.filters.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SearchDrinkController</servlet-name>
        <servlet-class>thangdh.controllers.SearchDrinkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>thangdh.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>thangdh.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDrinkController</servlet-name>
        <servlet-class>thangdh.controllers.DeleteDrinkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDrinkController</servlet-name>
        <servlet-class>thangdh.controllers.UpdateDrinkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDrinkController</servlet-name>
        <servlet-class>thangdh.controllers.CreateDrinkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchDrinkController</servlet-name>
        <servlet-class>thangdh.controllers.AdminSearchDrinkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreUpdateDrink</servlet-name>
        <servlet-class>thangdh.controllers.PreUpdateDrink</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>thangdh.controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveDrinkCartController</servlet-name>
        <servlet-class>thangdh.controllers.RemoveDrinkCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>thangdh.controllers.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>thangdh.controllers.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreCreateDrinkController</servlet-name>
        <servlet-class>thangdh.controllers.PreCreateDrinkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>thangdh.controllers.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryController</servlet-name>
        <servlet-class>thangdh.controllers.ViewHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDrinkController</servlet-name>
        <servlet-class>thangdh.controllers.ViewDrinkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>thangdh.controllers.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleController</servlet-name>
        <servlet-class>thangdh.controllers.LoginGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizePaymentController</servlet-name>
        <servlet-class>thangdh.controllers.AuthorizePaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExecutePaymentController</servlet-name>
        <servlet-class>thangdh.controllers.ExecutePaymentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDrinkController</servlet-name>
        <url-pattern>/SearchDrinkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDrinkController</servlet-name>
        <url-pattern>/DeleteDrinkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDrinkController</servlet-name>
        <url-pattern>/UpdateDrinkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDrinkController</servlet-name>
        <url-pattern>/CreateDrinkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchDrinkController</servlet-name>
        <url-pattern>/AdminSearchDrinkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreUpdateDrink</servlet-name>
        <url-pattern>/PreUpdateDrink</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveDrinkCartController</servlet-name>
        <url-pattern>/RemoveDrinkCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreCreateDrinkController</servlet-name>
        <url-pattern>/PreCreateDrinkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/ViewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryController</servlet-name>
        <url-pattern>/ViewHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDrinkController</servlet-name>
        <url-pattern>/ViewDrinkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleController</servlet-name>
        <url-pattern>/LoginGoogleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizePaymentController</servlet-name>
        <url-pattern>/AuthorizePaymentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecutePaymentController</servlet-name>
        <url-pattern>/ExecutePaymentController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
